/* configuraçoes gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
:root {
  --primary-color: rgb(66, 136, 136);
  --secundary-color: rgb(102, 160, 160);
  --shadow-color: #757575;
}

/* corpo da pagina e formularios */
body, #home {
  background-color: var(--primary-color);
}

form {
  background-color: white;
  max-width: 50rem;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0px;
  color: var(--shadow-color);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* definindo no meio da tela */
}

.password,
.email,
.user,
.tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
input {
  border-radius: 5px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  height: 3.5rem;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
}
/* buttons submit */
#btn-cad {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}
#btn-cad:hover 
 {
  background-color: var(--secundary-color);
}

/* titulos, subtitulos , paragrafos , tags*/
h3 {
  text-align: center;
  color: var(--primary-color);
}

h1 {
  color: white;
}
p {
  color: var(--shadow-color);
  margin-top: 10px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: rgb(134, 14, 247);
}

/* icones de estilo */
.fa-eye,
.fa-envelope,
.fa-pencil,
.fa-phone {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: #757575;
}
/* mensagens de alerta */
#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
#msgSuccess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
